comtypes==1.4.12 
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
kiwisolver==1.4.5
numpy==2.0.0
opencv-python==4.12.0.88
packaging==24.1
paho-mqtt==2.1.0
pillow==10.4.0
pip==25.2
psutil==7.0.0
pyodbc==5.2.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pywin32==311
pywinauto==0.6.9
screeninfo==0.8.1
setuptools==65.5.0
six==1.17.0
